{% extends 'base.html.twig' %}

{% block title %}Vote index{% endblock %}

{% block body %}
    <h1>Vote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Image</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.Author }}</td>
                <td>{{ vote.image }}</td>
                <td>{{ vote.Content }}</td>
                <td>{{ vote.createdAt ? vote.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('vote_show', {'id': vote.id}) }}">show</a>
                    <a href="{{ path('vote_edit', {'id': vote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No Comment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vote_new') }}">Create new</a>
{% endblock %}
