{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <h1>Vote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vote.id }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ vote.Author }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ vote.image }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ vote.Content }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ vote.createdAt ? vote.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vote_index') }}">back to list</a>

    <a href="{{ path('vote_edit', {'id': vote.id}) }}">edit</a>

    {{ include('vote/_delete_form.html.twig') }}
{% endblock %}
